/* -------body------- */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bac-tex-color);
  color: var(--header-list-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --header-list-color: #212121;
  --accent-color: #2196f3;
  --paragraf-tex-color: #757575;
  --bac-tex-color: #ffffff;
  --bac-hero-color: #2f303a;
  --logo-web-color: #000000;
  --bac-our-color: #f5f4fa;
  --focus-btn-color: #188ce8;
  --footer-linc-color: #ffffff99;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------header------- */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
}
.studio {
  color: var(--logo-web-color);
}

.span-studio {
  color: var(--bac-tex-color);
}
.header-list.current {
  color: var(--accent-color);
}
.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-list-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraf-tex-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraf-tex-color);
}

.header-list:hover,
.header-list:focus,
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* -------hero------- */
.hero {
  background-color: var(--bac-hero-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bac-tex-color);
}
.hero-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  letter-spacing: 0.06em;
  color: var(--bac-tex-color);
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--focus-btn-color);
}

/* -------sectinon-tex------- */

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraf-tex-color);
}

/* -------section-do------- */

.image-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -------our-team------- */

.our-team {
  background-color: var(--bac-our-color);
}
.team-image {
  background-color: var(--bac-tex-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraf-tex-color);
}

/* -------footer-site------- */
.footer-site {
  background-color: var(--bac-hero-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.contacts-map-linc {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--bac-tex-color);
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-linc-color);
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--footer-linc-color);
}

.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus,
.contacts-map-linc:hover,
.contacts-map-linc:focus {
  color: var(--accent-color);
}
/* -------portfolio------- */

.filters-btn {
  background: var(--bac-our-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.p-btn {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-list-color);
}

.filters-btn:focus,
.filters-btn:hover {
  background-color: var(--accent-color);
  color: var(--bac-tex-color);
}

/* -------img-list------- */

.img-item {
  background-color: var(--bac-tex-color);
}

.title-img {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--header-list-color);
}
.img-tex {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--paragraf-tex-color);
}
