/* body */

.body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header {
  background: #ffffff;
}

/* -------HWADER------- */
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.span-web {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.span-studio {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  cursor: pointer;
}
.header-list:hover {
  color: #2196f3;
}

.header-list:focus {
  color: #2196f3;
}
.link-map:focus {
  color: #2196f3;
}
.header-tel:focus {
  color: #2196f3;
}
.header-tel:hover {
  color: #2196f3;
}

/* -----SECTION HERO---- */
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  color: #ffffff;
}

/* -----SECTION-TEX----- */
.sectinon-tex {
  background: #f5f5f5;
}

.sectinon-tex h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.sectinon-tex p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ----section whith image-------- */

.image-tex {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-do {
  background: #f5f5f5;
}
/* ------OUR TEAM------ */

.our-team {
  background: #f5f4fa;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.name-product-designer,
.name-developer,
.name-marketing,
.name-designer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.profession-product,
.profession-developer,
.profession-marketing,
.profession-designer {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ---------FOOTER--------- */
.link-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-map:hover {
  color: #2196f3;
}
.footer-site {
  background: #2f303a;
}
/* -------------portfolio page--------- */
.btn-oll,
.btn-sites,
.btn-appendices,
.btn-design,
.btn-marketing {
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.btn-oll:hover,
:focus {
  color: #2196f3;
}
.btn-sites:hover,
:focus {
  color: #2196f3;
}
.btn-appendices:hover,
:focus {
  color: #2196f3;
}
.btn-design:hover,
:focus {
  color: #2196f3;
}
.btn-marketing:hover,
:focus {
  color: #2196f3;
}
/* -------OUR WORK-------- */

.our-work h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}
.our-work p {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}
